body {
	border-style: dotted;
    border-width: 100%;
    margin-top: auto%;
    margin-bottom: 1%;
    padding-bottom: 5%;
    padding-top: 3%;}


h1 {text-decoration: bold;
color: black;
font-family: Caudex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;

}
h2 {color: black;
	font-family: Arsenal
	margin-right: auto;
	margin-left: auto;
	width: 95%;

}
h3 {font-family: Arsenal;
	color: black;
	margin-right: auto;
	margin-left: auto;
	width: 88%;

}
li {font-family: Arsenal;
	color: black;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
}
p {text-decoration: bold;
color: black;
font-family: Caudex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
   
}

 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 78.6%;
    border-style: solid;
    border-width: 1px;
} 
a:link    
 {color:#000000; background-color: transparent; 
 	text-decoration:none}
 a:visited {color:#000000;
  background-color:transparent; 
  text-decoration:none}